.main {
  opacity: 1;
  transition: opacity 1s ease;
  will-change: opacity;
}

.hidden {
  display: block;
  opacity: 0;
}

.go-stacking,
.go-title,
.go-ref {
  cursor: pointer;
}

.header {
  position: relative;
  z-index: 4;
}

.header-buttons {
  position: relative;
}

.login-logout {
  position: absolute;
  top: 40px;
  right: 10px;
  z-index: 4;
  display: none;
  gap: 5px;
  border-radius: 10px;
  padding: 14px 50px 14px 10px;
  color: #000;
  background-color: #fff;
}

.logout-backdrops {
  position: fixed;
  top: 56px;
  right: 0;
  left: 0;
  z-index: 2;
  display: none;
  width: 100vw;
  max-width: 1210px;
  height: 100vh;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.45);
}

.log-info {
  max-width: 1210px;
  margin: 0 auto;
  padding: 15px 24px;
}

.log-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.log-card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 47px;
  border-radius: 10px;
  padding: 6px 0;
  background-color: #fff;
}

.more-btn {
  position: absolute;
  top: 12px;
  right: 5px;
}

.log-card-info {
  display: flex;
  justify-content: space-between;
}

.log-content {
  display: flex;
  gap: 6px;
  padding: 0 29px 0 10px;
}

.user-content {
  padding-top: 3px;
}

.time-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 52px;
}

.center-info {
  padding-left: 40px;
}

.name-info {
  color: rgba(0, 0, 0, 0.45);
  font-size: 12px;
}

.number-info {
  color: #1AC200;
  font-size: 12px;
}

.log-svg {
  width: 30px;
}

.log-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.text-balance {
  font-weight: 700;
  font-size: 20px;
}

.log-buttons {
  display: none;
  justify-content: space-between;
  gap: 24px;
  padding: 0 10px;
}

.active-log {
  display: flex;
}

.log-btn {
  width: 100%;
  border: 1px solid #1AC200;
  border-radius: 10px;
  background-color: transparent;
}

.log-btn-text {
  color: #1AC200;
}

.operation {
  padding: 0 24px 24px;
}

.operation-list {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  padding: 16px;
  background-color: #fff;
}

.operation-card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 24px;
}

.operation-card:not(:last-of-type) {
  border-bottom: 1px solid #DEDEE2;
}

.operation-card:not(:first-of-type) {
  padding-top: 24px;
}

.card-stroke-text {
  overflow: hidden;
  color: #76767A;
  font-size: 14px;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.user-trans {
  color: #000;
  font-size: 14px;
}

.operation-more-btn {
  border: 1px solid #1AC200;
  border-radius: 10px;
  padding: 13px 0 15px;
  background-color: transparent;
}



@media (width >= 1024px) {
  .log-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .log-buttons {
    display: flex;
  }

  .more-btn,
  .operation {
    display: none;
  }

  .hidden {
    display: grid;
  }
}