

.main {
  padding: 14px 24px 32px 24px;
}

.ref-title {
  font-size: clamp(1.5rem, 1.1479rem + 1.5023vw, 2.5rem);
  letter-spacing: 0.65px;
}

.reg-users {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 13px;
  border-radius: 10px;
  padding: 24px;
  background-color: #fff;
}

.reg-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reg-title {
  font-family: 'Poppins-semi', sans-serif;
  font-size: 20px;
  letter-spacing: -0.5px;
}

.users-reg-value {
  color: #1AC200;
  font-family: 'Poppins-semi', sans-serif;
  font-size: 32px;
}

.ref-link {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-top: 22px;
  border-radius: 10px;
  padding: 16px;
  background-color: #fff;
}

.ref-link-title {
  font-weight: 300;
  font-size: 14px;
}

.ref-link-copy {
  position: relative;
}

.ref-link-input {
  width: 100%;
  border: 1px solid #CCCDCE;
  border-radius: 10px;
  padding: 12px 40px 13px 16px;
  overflow: hidden;
  font-size: 14px;
  text-overflow: ellipsis;
}

.ref-link-input-img {
  position: absolute;
  top: 25%;
  right: 15px;
}

.ref-link-btn {
  border: none;
  border-radius: 10px;
  padding: 13px 0 15px;
  color: #fff;
  font-size: 14px;
  background-color: #1AC200;
}

.promo-ref {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-top: 24px;
  border-radius: 10px;
  padding: 24px 18px;
  background-color: #fff;
}

.promo-ref-title {
  padding-left: 9px;
  font-size: 20px;
}

.promo-ref-content {
  position: relative;
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.promo-ref-input {
  width: 90%;
  border: 1px solid #CCCDCE;
  border-radius: 10px;
  padding: 14px 16px;
}

.ref-promo-input-img {
  position: absolute;
  top: 30%;
  right: 50%;
}

.promo-ref-btn {
  border: none;
  padding: 0;
  text-align: start;
  text-decoration: underline;
  background-color: transparent;
}

.promo-ref-limit {
  padding-left: 9px;
  color: #1AC200;
}

.promo-ref-limit-value {
  color: #000;
  font-family: 'Poppins', sans-serif;
}

.plus-ref {
  margin-top: 15px;
}

.plus-ref-list {
  display: flex;
  flex-direction: column;
  gap: 29px;
  border-radius: 10px;
  padding: 18px 10px 10px;
  background-color: #fff;
}

.plus-ref-card {
  display: flex;
  align-items: start;
  gap: 20px;
}

.promo-ref-card-contet {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.promo-ref-card-title {
  font-size: 16px;
  line-height: 1.7;
}

.promo-ref-text {
  width: 90%;
  color: #1C1C1C;
  font-size: 14px;
  line-height: 1.69;
}

@media (width >= 1024px) {
  .main:has(.reg-users) {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 
    'ref-title ref-title ref-title ref-title ref-title'
    'plus-ref plus-ref plus-ref reg-users reg-users'
    'plus-ref plus-ref plus-ref ref-link ref-link'
    'plus-ref plus-ref plus-ref promo-ref promo-ref';
    gap: 25px;
  }

  .ref-link,
  .promo-ref,
  .reg-users,
  .plus-ref {
    margin-top: 0;
  }

  .plus-ref-list {
    height: 100%;
  }
}