.page {
  background-color: #EFF6F8;
}

.main:has(.my-stake) {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.my-stake {
  display: flex;
  flex-direction: column;
  margin: 0 24px;
  border-radius: 10px;
  padding: 14px 0 10px;
  font-family: 'popins-semi', sans-serif;
  background-color: #fff;
}

.my-stake-title {
  border-bottom: 1px solid #D9D9D9;
  padding-bottom: 8px;
  text-align: center;
}

.my-stake-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.my-stake-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 27px 10px 16px 13px;
}

.my-stake-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my-stake-value {
  font-size: 20px;
}

.my-stake-line-value {
  display: flex;
  align-items: center;
  gap: 5px;
}

.stats {
  margin: 0 24px;
  border-radius: 10px;
  font-family: 'popins-semi', sans-serif;
  background-color: #fff;
}

.stats-title {
  border-bottom: 1px solid #D9D9D9;
  padding: 15px 0 8px;
  font-size: 22px; 
  text-align: center;
}

.stats-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
  padding: 27px 13px 29px 7px;
}

.stats-line {
  display: flex;
  align-items: center;
  gap: 12px;
}

.stats-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.stats-name {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.stats-change {
  display: flex;
  flex-direction: column;
  align-items: end;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
}

.stats-time {
  color: #909096;
}

.stats-change-value {
  color: #1AC200;
}

.desktop-earn {
  display: none;
  font-size: 20px;
}

.procent {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 24px;
  border-radius: 10px;
  padding: 21px 20px 110px;
  font-family: 'popins-semi', sans-serif;
  background-color: #fff;
}

.procent-title {
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: 1.1px;
}

.procent-text {
  z-index: 1;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.1px;
}

.procent-img {
  position: absolute;
  right: 17px;
  bottom: 15px;
  z-index: 0;
  width: 166px;
}

.stacking-btn {
  margin-top: 5px;
}

.card-title-content {
  padding: 0;
  font-size: 20px;
}

.earn {
  padding-bottom: 0;
}

.operation-dask {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 32px;
  padding: 0 24px;
}

.oper-title {
  font-size: 24px;
}

.oper-list {
  display: flex;
  border-radius: 10px;
  padding: 20px;
  background-color: #fff;
}

.oper-line {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 16px;
}

.head-line {
  width: 100%;
  border-radius: 10px 0 0 10px;
  padding: 21px 0 21px 24px;
  background-color: #F3F3F5;
}

.second-line {
  width: 100%;
  padding: 21px 0 21px 16px;
  background-color: #F3F3F5;
}

.last-line {
  width: 100%;
  border-radius: 0 10px 10px 0;
  padding: 21px 24px 21px 16px;
  background-color: #F3F3F5;
}

.oper-text:not(:last-of-type) {
  width: 100%;
  border-bottom: 1px solid #DEDEE2;
  padding-bottom: 20px;
}

.oper-text-first {
  padding-left: 21px;
}

.oper-text-second {
  padding-left: 16px;
}

@media (width >= 1024px) {
  .main:has(.my-stake) {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 
    'stake stake stats stats stats'
    'proc proc proc sec-earn sec-earn'
    'proc proc proc sec-earn sec-earn'
    'oper oper oper oper oper'
    'oper oper oper oper oper'
    'oper oper oper oper oper';
  }

  .my-stake,
  .procent {
    margin-right: 0;
  }

  .procent {
    padding-bottom: 0;
  }

  .procent-text {
    width: 45%;
  }

  .procent-img {
    right: 15px;
    bottom: 20px;
    width: 300px;
  }

  .stats {
    margin-left: 0;
  }

  .stats-list {
    padding: 16px 36px;
  }

  .earn {
    margin-left: 0;
    padding-top: 0;
  }

  .mobile-earn {
    display: none;
  }

  .desktop-earn {
    display: block;
  }

  .operation-dask {
    display: flex;
  }


}